# OPENAI_API_KEY="<PASTE_YOUR_API_KEY_HERE>"
# OPENAI_MODEL="mistralai/devstral-2512:free"
# OPENAI_BASE_URL="https://openrouter.ai/api/v1"

OPENAI_API_KEY="<PASTE_YOUR_API_KEY_HERE>"
OPENAI_MODEL="openai/gpt-oss-120b"
OPENAI_BASE_URL="https://api.groq.com/openai/v1"


# OPEN_ROUTER_API_KEY=""
# OPEN_ROUTER_LLM_MODEL="mistralai/devstral-2512:free"
# OPEN_ROUTER_BASE_URL="https://openrouter.ai/api/v1"
